@svg-load nav url(camera.svg) {
  path:first-child {
    fill: #e4e4e4;
  }
}

body {
  transform: rotate(10deg);
  display: flex;
  font-size: 28px;
  background-color: blue;
  background: svg-inline(nav);
}